In [18]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [12]:
text = ['A batata esta a dois metros de outras batatas'
        ,'A batata não esta a dois metros de outras batatas'
        ,'Não existe batata'
       ]

## Sklearn CountVectorizer

In [13]:
vectorizer = CountVectorizer()
t_matrix = vectorizer.fit_transform(text)

In [16]:
vectorizer.get_feature_names()

['batata',
 'batatas',
 'de',
 'dois',
 'esta',
 'existe',
 'metros',
 'não',
 'outras']

In [17]:
t_matrix.toarray()

array([[1, 1, 1, 1, 1, 0, 1, 0, 1],
       [1, 1, 1, 1, 1, 0, 1, 1, 1],
       [1, 0, 0, 0, 0, 1, 0, 1, 0]])

In [19]:
matrix = pd.DataFrame(data=t_matrix.toarray(),columns=vectorizer.get_feature_names())

In [20]:
matrix

   batata  batatas  de  dois  esta  existe  metros  não  outras
0       1        1   1     1     1       0       1    0       1
1       1        1   1     1     1       0       1    1       1
2       1        0   0     0     0       1       0    1       0

## Sklearn TfidfVectorizer

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [22]:
vector = TfidfVectorizer()

In [23]:
tfidf_matrix = vector.fit_transform(text)

In [24]:
tfidf_matrix.toarray()

array([[0.30221618, 0.38915836, 0.38915836, 0.38915836, 0.38915836,
        0.        , 0.38915836, 0.        , 0.38915836],
       [0.28164125, 0.36266439, 0.36266439, 0.36266439, 0.36266439,
        0.        , 0.36266439, 0.36266439, 0.36266439],
       [0.42544054, 0.        , 0.        , 0.        , 0.        ,
        0.72033345, 0.        , 0.54783215, 0.        ]])

In [25]:
tfidf_matrix_show = pd.DataFrame(data=tfidf_matrix.toarray(),columns=vector.get_feature_names())

In [26]:
tfidf_matrix_show

,batata,batatas,de,dois,esta,existe,metros,não,outras
0,0.302216,0.389158,0.389158,0.389158,0.389158,0.000000,0.389158,0.000000,0.389158
1,0.281641,0.362664,0.362664,0.362664,0.362664,0.000000,0.362664,0.362664,0.362664
2,0.425441,0.000000,0.000000,0.000000,0.000000,0.720333,0.000000,0.547832,0.000000

In [27]:
# That's above is a normalized vector matrix